<!-- templates/index.html -->
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Bicicleta ADU</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="container">
        <h2>Nuevo registro</h2>
        <form action="/upload" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="token" value="{{ token }}">
          <label>Nombre</label>
          <input type="text" name="nombre" placeholder="Quién pedaleó">
          <label>km</label>
          <input type="number" name="km_individual" step="0.01" min="0" placeholder="1">
          <label>Foto</label>
          <input type="file" name="foto" accept="image/*" capture="camera">
          <button type="submit">Guardar</button>
        </form>
      </div>
  </body>
</html>